In [1]:
import pandas as pd

In [2]:
bond = pd.read_csv("jamesbond.csv")
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

# The .set_index() and .reset_index() Methods

In [3]:
bond.set_index("Film", inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [4]:
bond.reset_index(drop=False, inplace = True)
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [5]:
bond.set_index("Film", inplace=True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [6]:
#bond.set_index("Year") #it wipes out Film column!
## we need to first convert Film column back to column and after that we can set a Year as Index
bond.reset_index(inplace = True)
bond.set_index("Year", inplace = True)  #Recommendation - do not method chain here!
bond.head(3)                            #keep the code clean

,Film,Actor,Director,Box Office,Budget,Bond Actor Salary
Year,,,,,,
1962,Dr. No,Sean Connery,Terence Young,448.8,7.0,0.6
1963,From Russia with Love,Sean Connery,Terence Young,543.8,12.6,1.6
1964,Goldfinger,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [7]:
#5.3

# Retrieve Rows by Index Label with .loc()

In [8]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film") #tweak 1: use ndex_col
bond.sort_index() #tweak 2: use sort_index
                  #when index is sorted, pandas works faster
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [9]:
#NOTE: .loc method uses bracket parenthesis
bond.loc["Goldfinger"]
bond.loc["GoldenEye"]

Year                            1995
Actor                 Pierce Brosnan
Director             Martin Campbell
Box Office                     518.5
Budget                          76.9
Bond Actor Salary                5.1
Name: GoldenEye, dtype: object

In [10]:
bond.loc["Sacred Bond"] #if item does not exist --> .loc method returns error

KeyError: 'the label [Sacred Bond] is not in the [index]'

In [ ]:
bond.loc["Casino Royale"]  #if more than 1 item exist --> .loc returns all that match

In [ ]:
bond.loc["Diamonds Are Forever" : "Moonraker"]  #extract values in a row
                                                #last value is inclusive

In [ ]:
bond.loc["GoldenEye" :]  #extract every movie after GoldenEye

In [ ]:
bond.loc[["Spectre", "Moonraker", "Octopussy"]]  #extract multiple non-sequencial values

In [ ]:
bond.loc[["For Your Eyes Only", "Live and Let Die", "Gold Bond"]]  #be careful when extracting multiple non-sequencial values
                                                # "Gold Bond" does not exist -->we get NaN values

In [ ]:
"Gold Bond" in bond.index # False means value does not exist

# Retrieve Row(s) by Index Position with .iloc()

In [ ]:
bond = pd.read_csv("jamesbond.csv")
bond.head(3)

In [ ]:
bond.loc[15]  #here both methods produce same result
bond.iloc[15]

bond.iloc[[15,20]]
bond.iloc[:4]  #4 is not included
bond.iloc[4:8]
bond.iloc[20:]

In [ ]:
bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond.sort_index()  #each of these items receives index position (that is currently not seen)
                   #we can still use index_position operations
                   #it does NOT matter which column we use as index
bond.head(3)

In [ ]:
bond.iloc[0]

In [ ]:
bond.iloc[:8]  #8 is excluded from list

# The Catch-All .ix[] Method

In [ ]:
bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond.sort_index() 
bond.head(3)

In [ ]:
bond.ix["GoldenEye"] #.ix is deprecated. Please use
                     #.loc for label based indexing or
                     #.iloc for positional indexing
bond.ix["A View to a Kill" : "The World Is Not Enough"] #"The World Is Not Enough" IS included

In [ ]:
# bond.ix["Sacred Bond"]  #produces error
#bond.ix["Spectre", "Sacred Bond"] #produces error
"Spectre" in bond.index  #NOTE: way to check if item exists
"Sacred Bond" in bond.index

In [ ]:
bond.ix[10]
bond.ix[5:10]  #10 IS NOT included
bond.ix[[8,16,24]]
#bond.ix[100]  #produces error, 101th item does not exist

# Second Arguments to .loc[], .iloc[], and .ix[] Methods

In [ ]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film") 
bond.sort_index() 
bond.head(3)

In [ ]:
#simple extractions
bond.loc["Moonraker","Actor"]
bond.loc["Moonraker","Director":"Budget"]
bond.loc["Moonraker",["Actor","Budget","Year"]]

bond.iloc[14]  #pulls out all info for row 14
bond.iloc[14,2]  #pulls out info for row 14 and column 2
bond.iloc[14,2 : 5]  # extract sequential values
bond.iloc[14,[5, 3, 2]]  # extract non-sequential values

bond.ix[20]
bond.ix[20, "Budget"]  #mix and match - strings and number
bond.ix["The Man with the Golden Gun", 2]
bond.ix["The Man with the Golden Gun", :4]
bond.ix[5,3]

# Set New Values for a Specific Cell or Row

In [ ]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film") 
bond.sort_index() 
bond.head(3)

In [ ]:
bond.ix["Dr. No"]

In [ ]:
# assign new value into column
bond.ix["Dr. No","Actor"]

In [ ]:
bond.ix["Dr. No","Actor"] = "Sir Sean Connery"  #replacing with new value

In [ ]:
bond.ix["Dr. No"]

In [ ]:
bond.ix["Dr. No", ["Box Office", "Budget", "Bond Actor Salary"]]

In [ ]:
bond.ix["Dr. No", ["Box Office", "Budget", "Bond Actor Salary"]] =[448800000, 7000000,600000]  #replacing with PY list  multiple new values

In [ ]:
bond.ix["Dr. No", "Box Office"]

# Set Multiple Values in DataFrame

In [ ]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film") 
bond.sort_index() 
bond.head(3)

In [ ]:
#why is this way incorrect?
#we get error --> A value is trying to be set on a copy of a slice from a DataFrame.

mask = bond["Actor"] == "Sean Connery"  #we get NEW DataFrame
bond[mask]["Actor"] = "Sir Sean Connery"  #we do not work with original bond dataframe!

In [ ]:
#example on df2 of explanation on df2
df2 =  bond[mask]
df2["Actor"] = "Sir Sean Connery"
df2

In [ ]:
bond

In [ ]:
#how to change data in original DataFrame

In [ ]:
bond.ix[mask]  #this is NOT COPY
               #these are original rows in our DataFrame
bond.ix[mask,"Actor"]
bond.ix[mask,"Actor"] = "Sir Sean Connery"

In [ ]:
bond

# Rename Index Labels or Columns in a DataFrame

In [ ]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film") 
bond.sort_index() 
bond.head(3)

In [ ]:
bond.rename(columns = {"Year" : "Release Date", "Box Office" : "Revenue"},inplace=True)  #{}  uses python dictionary key:value pair
                                                                       #to modify original DataFrame use inplace=True

In [ ]:
bond.head(1)

In [ ]:
#way 1: here we can pick and choose which title to change
bond.rename(index = { "Dr. No" : "Dr No",
                      "GoldenEye" : "Golden Eye",
                       "The World Is Not Enough" : "Best Bond Movie Ever"},inplace=True)

In [ ]:
bond.ix["Best Bond Movie Ever"]

In [ ]:
#way 2: here we set a list and change all at once
bond.columns = ["Year of Release","Actor","Director","Gross","Cost","Salary"]

In [ ]:
bond.head(3)

# Delete Rows or Columns from a DataFrame

In [ ]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film") 
bond.sort_index(inplace = True) 
bond.head(3)

In [ ]:
bond.drop("A View to a Kill") #axis=0 at deafult removes the rows
     #if the index column is string, we insert string value
     #if the index column is number, we insert numbert value
#bond.drop(["A View to a Kill", "Casino Royale"],inplace=True)

In [ ]:
#to remove columns, change axis = "columns" OR axis = 1
bond.drop("Box Office", axis = "columns")
bond.drop(labels = ["Box Office", "Bond Actor Salary", "Actor"], axis = "columns") #inplace = True

In [ ]:
#bond.pop("Actor")  #removes Series from DataFrame 
actor = bond.pop("Actor")  #and also returns it and can store inside variable 
                           #think as cut and paste data from one df into another

In [ ]:
actor

In [ ]:
del bond["Director"]  # deletes columns from DataFrame

In [ ]:
bond

# Create Random Sample

In [ ]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film") 
bond.sort_index(inplace = True) 
bond.head(3)

In [ ]:
bond.sample()  #extract one row at random
bond.sample(n = 5)  #we make a NEW df from original DataFrame
bond.sample(frac  = .25)  #frac is short for fractal -pulls percentage of original DataFrame

In [ ]:
bond.sample(n = 3)  #axis = None means axis = 0 OR axis = "rows"

In [ ]:
bond.sample(n = 3, axis = 1)  # means axis = "columns"

# The .nsmallest() and .nlargest() Methods

In [ ]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film") 
bond.sort_index(inplace = True) 
bond.head(3)

In [ ]:
bond.sort_values("Box Office", ascending = False).head(3)

In [ ]:
bond.nlargest(3, columns = "Box Office")  #number of largest

bond.nsmallest (n = 3, columns = "Box Office")  #number of smallest

In [ ]:
bond.nlargest(3, columns = "Budget")
bond.nsmallest (n = 6, columns = "Bond Actor Salary")

In [ ]:
bond["Box Office"].nlargest(8)

# Filtering with the .where() Method

In [ ]:
mask = bond["Actor"] == "Sean Connery"  #mask returns boolean DataFrame
bond[mask]

In [ ]:
bond.where(mask)  #we need to insert to where method a Boolean Series
                  #pandas returns full DataFrame but we only get values where condition "Sean Connery" is met

In [ ]:
bond.where(bond["Box Office"] > 800)

In [ ]:
#multiple conditions can be feed into where method
#ANDand OR can be used
mask2 = bond["Box Office"] > 800

bond.where(mask & mask2)

# The .query() Method
#### NOTE: method works if column name have NO spaces

In [ ]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film") 
bond.sort_index(inplace = True) 
bond.head(3)

In [ ]:
bond.columns  #possible problem with Box Office and Bond Actor Salary
#pure python code - we fill empty spaces with underscores
bond.columns = [column_name.replace(" ","_") for column_name in bond.columns]
bond.head(1)

In [ ]:
bond.query('Actor == "Sean Connery" ')
bond.query("Director == 'Terence Young'")
bond.query('Actor != "Roger Moore" ')  # not equal

In [ ]:
bond.query("Box_Office > 600")

In [ ]:
bond.query("Actor == 'Roger Moore' and Director == 'John Glen'")  # and and or operator are written as string!
bond.query("Actor == 'Roger Moore' or Director == 'John Glen'")

In [ ]:
bond.query ("Actor in ['Timothy Dalton', 'Georde Lazenby']")

bond.query ("Actor not in ['Sean Connery', 'Roger Moore']")

# A Review of the .apply() Method on Single Columns

In [ ]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film") 
bond.sort_index(inplace = True) 
bond.head(3)

In [ ]:
def convert_to_string_and_add_millions(number):
    return str(number) + "  MILLIONS!"

#bond["Box Office"] = bond["Box Office"].apply(convert_to_string_and_add_millions)

In [ ]:
#bond["Budget"].apply(convert_to_string_and_add_millions)
#bond["Budget"] = bond["Budget"].apply(convert_to_string_and_add_millions)

In [ ]:
columns = ["Box Office", "Budget", "Bond Actor Salary"]
for col in columns:
    bond[col] = bond[col].apply(convert_to_string_and_add_millions)

# The .apply() Method with Row Values

In [13]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film") 
bond.sort_index(inplace = True) 
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [12]:
#custom fuction
def good_movie(row):
    actor = row[1]
    budget = row [4]
    if actor == "Pierce Brosnan":
        return "The Best"
    elif actor == "Roger Moore" and budget > 40:
        return "Enjoyable"
    else:
        return "I have no clue."
    
bond.apply(good_movie, axis = "columns") #need to specify axis on which this will be applied
                                         # we wish to apply it horizontaly
                                         #we iterate over every value in a row
                                         #this allows us custom manipulation

Film
Dr. No                             I have no clue.
From Russia with Love              I have no clue.
Goldfinger                         I have no clue.
Thunderball                        I have no clue.
Casino Royale                      I have no clue.
You Only Live Twice                I have no clue.
On Her Majesty's Secret Service    I have no clue.
Diamonds Are Forever               I have no clue.
Live and Let Die                   I have no clue.
The Man with the Golden Gun        I have no clue.
The Spy Who Loved Me                     Enjoyable
Moonraker                                Enjoyable
For Your Eyes Only                       Enjoyable
Never Say Never Again              I have no clue.
Octopussy                                Enjoyable
A View to a Kill                         Enjoyable
The Living Daylights               I have no clue.
Licence to Kill                    I have no clue.
GoldenEye                                 The Best
Tomorrow Never Dies                       The Best
The World Is Not Enough                   The Best
Die Another Day                           The Best
Casino Royale                      I have no clue.
Quantum of Solace                  I have no clue.
Skyfall                            I have no clue.
Spectre                            I have no clue.
dtype: object

# The .copy() Method

In [26]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film") 
bond.sort_index(inplace = True) 
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [27]:
##we overwrite data in original bond DataFrame
#directors = bond["Director"] 
#directors.head(4)

Film
A View to a Kill              John Glen
Casino Royale           Martin Campbell
Casino Royale                Ken Hughes
Diamonds Are Forever       Guy Hamilton
Name: Director, dtype: object

In [23]:
#directors["A View to a Kill"] = "Mister John Glen"

/home/vvidmar/.pyenv/versions/radar-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
#bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,Mister John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [29]:
directors = bond["Director"].copy()  #copies Series as separate object that does not affect the main DataFrame
directors

Film
A View to a Kill                            John Glen
Casino Royale                         Martin Campbell
Casino Royale                              Ken Hughes
Diamonds Are Forever                     Guy Hamilton
Die Another Day                          Lee Tamahori
Dr. No                                  Terence Young
For Your Eyes Only                          John Glen
From Russia with Love                   Terence Young
GoldenEye                             Martin Campbell
Goldfinger                               Guy Hamilton
Licence to Kill                             John Glen
Live and Let Die                         Guy Hamilton
Moonraker                               Lewis Gilbert
Never Say Never Again                  Irvin Kershner
Octopussy                                   John Glen
On Her Majesty's Secret Service         Peter R. Hunt
Quantum of Solace                        Marc Forster
Skyfall                                    Sam Mendes
Spectre                                    Sam Mendes
The Living Daylights                        John Glen
The Man with the Golden Gun              Guy Hamilton
The Spy Who Loved Me                    Lewis Gilbert
The World Is Not Enough                 Michael Apted
Thunderball                             Terence Young
Tomorrow Never Dies                Roger Spottiswoode
You Only Live Twice                     Lewis Gilbert
Name: Director, dtype: object

In [32]:
directors["A View to a Kill"] = "Mister John Glen"
directors.head(3)

Film
A View to a Kill    Mister John Glen
Casino Royale        Martin Campbell
Casino Royale             Ken Hughes
Name: Director, dtype: object

In [33]:
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN